*{
    box-sizing: border-box;
}

.banner_height{
    height:580px;
}
/* Courses Section Css  */
/* .courses_content_wrap{
    height: 150px;
}
.courses_content_wrap .courses_img img{
    width: 150px;
    height: 150px;
}
.corses_content h5{
    font-size: 20px;
} */





